body{
    margin: 0;
    padding: 0;
    
}
header{
    
    display: flex;
    justify-content: space-around;
    background-color: honeydew;
}
.lab{
    width: 450px;
    height: 40px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid black;
    
}
#co{
    margin-right: 6px;
}
.clos{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 60px;
}
.a1{
    color: gray;
    margin-top: 24px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}
.test{
    background-color: rgb(55, 109, 103);
    height: 40px;
    display: flex;
    justify-content: space-around;
    
}
.test a{
    padding-top: 9px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    color: white;
}
.test a:hover{
    background-color: white;
    color:  rgb(55, 109, 103);
    
}
img{
    width: 100%;
}


.btn{
    width: 150px;
    height: 50px;
    background-color: rgb(55, 109, 103);
    
    position: relative;
    bottom: 77px;
    left: 556px;
    border-radius: 20px;
    text-align: center;
    
}
.btn a{
    color: white;
    position: relative;
    top: 12px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 20px;
}
.pr{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:  30px;
    height: 100px; 
}
.pr div:hover{
    background-color:  rgb(79, 103, 100);
}
.pr div a{
    text-decoration: none;
    color: rgb(209, 246, 209);
    margin-top: 260px;

}
.op{
    position: absolute;
    left: 9px;
    object-fit: contain;
    opacity: 0;
    transition: opacity .4s ease;
}
.op:hover{
    opacity: 1000;
}
.op1{
    position: absolute;
    
    left: 323px;
    opacity: 0;
    transition: opacity .4s ease;
}
.op1:hover{
    opacity: 10;
}
.op2{
    position: absolute;
    
    left: 640px;
    opacity: 0;
    transition: opacity .4s ease;
}
.op2:hover{
    opacity: 10;
}
.pr div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    
    
    color: rgb(13, 0, 255);
    background-color:  rgb(55, 109, 103);
    border-radius: 20px;
    width: 190px;
    height: 120px;
}
.be{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 24px;
}
main{
    display: flex;
    justify-content: space-around;
}
.mag{
    flex-wrap: wrap;
    text-align: center;
}
.mag img{
    width: 300px;
}
section{
    padding: 7px;
}
section p{
    
    color: rgb(0, 4, 255);
    text-align:center;
}
legend{
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
main{
    display: flex;
    justify-content: space-around;
}
.p1{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
.cli{
    background-color: rgb(55, 109, 103);
    border: 1px solid black;
    width: 100px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 11px;
    margin-left: 100px;
    border-radius: 3px;
    
}
.cli:hover{
    background-color: rgb(30, 75, 70) ;
    text-decoration:underline white 0.3px;
}
.cli a{
    margin-top: 6px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
    
}
section a{
    height: 300px;
}
.v{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: white;
    border: 1px solid rgb(55, 109, 103);
    position: relative;
    left: 580px;
    margin-top: 30px;
    border-radius: 8px;
}
.v a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 13px;
    padding-left: 20px;
    text-decoration: none;
    width: 100px;
    color: rgb(55, 109, 103);
    transform: scale(0.4.0.4);
}
.v a:hover{
    color: white;
    border-radius: 8px;
    width: 100px;
    background-color:rgb(55, 109, 103);
    box-shadow: 2px 5px 8px black;
    transition: 0.7s ease;

}
.shop{
   
    background-color: white;
    color:rgb(55, 109, 103) ;
    border: 1px solid;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: white;
    border: 1px solid rgb(55, 109, 103);
    position: relative;
    
    margin-top: 30px;
    border-radius: 8px;
    text-align: right;

  
}
.shop a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 13px;
    padding-right: 15px;
    text-decoration: none;
    width: 100px;
}
.shop a:hover{
    border-radius: 8px;
    color: white;
    width: 100px;
    background-color: rgb(55, 109, 103);
    box-shadow: 2px 5px 8px black;
    height: 36px;
}
.pp{
    display: flex;
    color: black;
}
.p2{
    display: none;
}
.po{
    padding-top: 40px;
}
.aji{
    color: rgb(55, 109, 103) ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fix{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
}
.fot{
    margin-top: 118px;
   

}
.bak{
    background-color:honeydew;
}

#fo{
    position: relative;
    left: 587px;
    top: 28px;
}
footer{
    margin-top: 60px;
    height: 300px;
    width: 100%;
    background-color:  rgb(55, 109, 103);
}
 h3{
    color: white;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.sc1{
    position: relative;
    width: 500px;
    
    margin-bottom: 70px;
}
.lor{
    text-align: left;
    color: rgb(168, 194, 194);
    font-family: 'Times New Roman', Times, serif;
}
.hh2{
    text-align: left;
}
.sc2{
    border: 1px solid red;
}

.links a{
    width: 300px;
    text-decoration: none;
    color: rgb(168, 194, 194) ;
    position: relative;
    right: 20px;
    
}
.links a:hover{
    color: white;
    font-size: 16.3px;
   
}

.footer-links {
    text-decoration: none;
    margin-top: 20px;
    list-style: none;
    
}

.str{
    position: relative;
    bottom: 60px;
    width: 88%;
    left: 80px;
    border: 1px solid rgb(168, 194, 194);
}

.cop{
    position: relative;
    bottom: 50px;
    font-size: 17px;
    font-weight: 500;
}
.fi{
    text-decoration: none;
    color: bisque;
}
